/* styles.css */
body {
    font-family: Arial, sans-serif;
    justify-content: center;
    align-items: center;
    background-color: #e49898;
    display: flex;
    margin: 0;
    height: 100vh;
  }
  
  .card {
    background-color: #fceede;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 300px;
    border-radius: 10px;
    text-align: center;
  }
  
  .profile-pic {
    border-radius: 50%;
    margin-bottom: 10px;
    width: 120px;
    height: 120px;
  }
  
  .myname {
    font-size: 24px;
    color: #45023d;
    margin: 10px 0;
  }
  
  .role {
    font-size: 14px;
    color: #4c0c21c3;
  }
  
  .bio {
    font-size: 14px;
    color: #444;
    margin: 15px 0;
  }
  
  .mylocation, .myemail{
    color: #312946;
    margin: 10px 0;
    font-size: 14px;
  }
  .current-utc-time{
    color: #312946;
    font-size: 12px;
  } 
  
  .social-links {
    margin: 20px 0;
  }
  
  .social-links a {
    text-decoration: none;
    color: #0073b1;
    margin: 0 10px;
    font-size: 14px;
  }
  
  .social-links a:hover {
    text-decoration: underline;
  }
  
  /* Responsive Design */
  @media (max-width: 600px) {
    .card {
      width: 90%;
      padding: 15px;
    }
  }